<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>about</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    
    <h1> 
      About YouCanPick 
    </h1>
    <p> 
      YouCanPick is all about taking on the hassle of choosing your next dining experience!
    </p>
    <p>
      Go to our home page so we can choose where you eat next for you! Just include your zip code and any other details so we can fine-tune our search.
    </p>
    <p>
      You can also check out WeCanPick. WeCanPick is for when you have some ideas of where you want to eat, but you just can't seem to narrow it down. Give us some options and we'll pick one at random for you!
    </p>

    <style>
      h1 {
        text-align:center;
        font-size: 2em;
      }
      p {
        padding-left: 1em;
        font-size: 1em;
      }
    </style>
      
    {% endblock %}
  </body>
</html>