<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <script src="../static/js/home.js"></script>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    
    <h1>
    	Welcome to YouCanPick!
    </h1>

    <form class="home-page-form" action="{{ url_for("home")}}" method="POST">
      <input type="text" name="input1" required>
      <button type="button" class="add-more" onclick="addMoreFields()">Add More Options</button>
      <input type="submit" value="Submit">
    </form>

    {% if random_restaurant %}
    <p id="pick-me">{{random_restaurant}}</p>
    {% endif %}
    
    {% endblock %}
  </body>
</html>