<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    
    <h1>
      Welcome to YouCanPick!
    </h1>
    <p>
      Having trouble picking where to eat? We can't blame you! There are so may amazing options to choose from these days, it can feel overwhelming. With YouCanPick, we hope you can have a great eating experience without having to spend all that time deciding where to eat next. Indecisive, bored of all the usual options, or just feeling adventurous? YouCanPick is for you! 
    </p>

    <form class="home-page-form" action="{{ url_for("home")}}" method="POST">
      <label for="zip-code">Please input your zip code here</label>
      <input type="text" name="zip-code" id="zip-code" required>
      <input type="submit" value="Submit">
    </form>

    {% if random_restaurant %}
    <p id="pick-me">{{random_restaurant}}</p>
    {% endif %}
    
    {% endblock %}
  </body>
</html>