<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <script src="../static/js/home.js"></script>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    
    <h1>
      Welcome to YouCanPick!
    </h1>

    <form id="home-page-form" action="{{ url_for("home")}}" method="POST">
      <label for="zip-code">Please input your zip code here*</label>
      <input type="text" name="zip-code" id="zip-code" pattern="[0-9]*" required>
      <label for="address">You can input your address here</label>
      <input type="text" name="address" id="address">
      <label for="city">You can input your city here</label>
      <input type="text" name="city" id="city">
      <label for="state">You can input your state here</label>
      <input type="text" name="state" id="state">
      <label for="distance">Let us know how far away we should be searching (in miles please)</label>
      <input type="number" step="1" max="24" min="1" name="distance" id="distance">
      <p>Do you have a price range in mind?</p>
      <section class="range-slider">
      	<span class="rangeValues"></span>
  		<input value="1" min="1" max="4" name="min-price" id="min-price" type="range">
  		<input value="4" min="1" max="4" name="max-price" id="max-price" type="range">
  	  </section>
      <label for="reservation">Click here if you want an option that takes reservations</label>
      <input type="checkbox" id="reservation" name="reservation" value="reservation">
      <label for="category">Want anything specific? Let us know!</label>
      <input type="text" name="category" id="category">
      <input type="submit" value="Submit">
    </form>

    {% if random_restaurant %}
    <div id="pick-me">
      <p>{{random_restaurant["name"]}}</p>
      <img src="{{random_restaurant['image_url']}}" id="restaurant-image">
      <p>{{random_restaurant["location"]["address1"]}}, {{random_restaurant["location"]["city"]}}, {{random_restaurant["location"]["state"]}} {{random_restaurant["location"]["zip_code"]}}</p>
    </div>
    {% endif %}

    {% if e %}
    <p id="pick-me">{{e}}</p>
    {% endif %}
    
    {% endblock %}
  </body>
</html>