<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>We Can Pick</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/we_can_pick.css') }}">
    <script src="../static/js/we_can_pick.js"></script>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    
    <h1>
    	Welcome to WeCanPick!
    </h1>
    <p>
      Have some options for us? Whether you've narrowed your options down and just can't seem to make the final call or you have a group who all seem to want different things, WeCanPick can help choose. So fill in some text boxes below and let's get started!
    </p>

    <form class="we-can-pick-page-form" action="{{ url_for("we_can_pick")}}" method="POST">
      <input type="text" name="input1" required>
      <button type="button" id="add-more" onclick="addMoreFields()">Add More Options</button>
      <input type="submit" value="Submit">
    </form>

    {% if random_restaurant %}
    <p id="pick-me">{{random_restaurant}}</p>
    {% endif %}
    
    {% endblock %}
  </body>
</html>